
button {
  padding: 4.5px ;
  margin : 2px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}



.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Adjust as needed */
}

label {
  width: 150px; /* Adjust as needed */
  margin-right: 15px; /* Adjust as needed */
}

input, select, textarea {
  flex: 1;
}
